<h1>Add ingredients to your recipe</h1>

<div>
  <%= simple_form_for @ingredient do |f| %>
    <%= f.input :name %>
    <%= f.button :submit, "Add ingredient" %>
  <% end %>
</div>

<%= simple_form_for [@recipe, @recipe_ingredient] do |f| %>
  <%= f.input :measurement_eu_amount %>
  <%= f.input :measurement_eu_unit %>
  <%= f.button :submit, "Add measurements" %>
<% end %>

<%= link_to "Done", recipe_path(@recipe) %>
