<div class="special-form-box">
  <%= link_to "Done", recipe_path(@recipe), class: "my-links special-position" %>
  <h1>Add ingredients to your recipe</h1>
  <%= simple_form_for [@recipe, @recipe_ingredient] do |f| %>
    <%= f.simple_fields_for :ingredient do |ingredient_form| %>
      <%= ingredient_form.input :name %>
    <% end %>
    <%= f.input :measurement_eu_unit %>
    <%= f.input :measurement_eu_amount %>
    <div class="form-actions">
      <%= f.button :submit, "Add ingredient", class: "my-button-form" %>
    </div>
  <% end %>


  <ul>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li class="recipe-ingredients">
      <%= link_to(recipe_ingredient_path(recipe_ingredient), data: {turbo_method: :delete, turbolinks_scroll: false}) do %>
        <i class="fa-regular fa-circle-xmark red"></i>
      <% end %>
      <span class="ingredient"><%= recipe_ingredient.measurement_eu_amount %>
        <%= recipe_ingredient.measurement_eu_unit %>
      </span>

        <%= recipe_ingredient.ingredient.name %>
      </li>
    <% end %>
  </ul>
</div>
