<div class="special-form-box">
  <%= link_to "Done", recipe_path(@recipe), class: "my-links special-position" %>
  <h1>Add ingredients to your recipe</h1>
  <%= simple_form_for [@recipe, @recipe_ingredient] do |f| %>
    <%= f.simple_fields_for :ingredient do |ingredient_form| %>
      <%= ingredient_form.input :name %>
    <% end %>
    <%= f.input :measurement_eu_unit %>
    <%= f.input :measurement_eu_amount %>
    <div class="form-actions">
      <%= f.button :submit, "Add ingredient", class: "my-button-form" %>
    </div>
  <% end %>


  <ul>
    <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
      <li class="recipe-ingredients">
      <%= link_to "x",
              recipe_ingredient_path(recipe_ingredient),
              class: "x-btn my-links",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
      <span class="ingredient"><%= recipe_ingredient.measurement_eu_amount %></span>

        <%= recipe_ingredient.measurement_eu_unit %>

        <%= recipe_ingredient.ingredient.name %>
      </li>
    <% end %>
  </ul>
</div>
