<div class="form-box">

  <h1>Edit <%= current_user.username %></h1>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <div>
          <%= f.input_field :email, required: true, autofocus: true %>
          <%= f.label :email, class: 'float' %>
        </div>


        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
        <% end %>

        <div>
          <%= f.input_field :password,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.label :password, class: 'float' %>
        </div>

        <div>
          <%= f.input_field :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.label :password_confirmation, class: 'float' %>
        </div>

        <div>
          <%= f.input_field :current_password,
                      hint: "",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.label :current_password,
                      class: 'float' %>
        </div>


      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", class: "my-button-form" %>
      </div>


  <% end %>



 <div> <%= button_to "logout", destroy_user_session_path, method: :delete, data: {turbo: false}%></div>
      <div> <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>

</div>
