
<div class="form-box">
  <h2>Create an account</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: :false }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div>

      <%= f.input_field :email,
                  required: true,
                  autofocus: false,
                  input_html: { autocomplete: "email" }%>
      <%= f.label :email,
                  class: 'float' %>
    </div>

     <div>

      <%= f.input_field :username,
                  required: true,
                  input_html: { autocomplete: "username" },
                  type: 'username'%>
      <%= f.label :username,
                  class: 'float'%>
    </div>

    <div>
      <%= f.input_field :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.label :password,
                  class: 'float' %>
    </div>

    <div>
      <%= f.input_field :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.label :password_confirmation,
                  class: 'float' %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: "my-button-form"%>
  </div>
<% end %>

<div class="shared-links">
<%= render "devise/shared/links" %>
</div>

</div>
