<div data-controller="page-orientation">
  <div
    data-page-orientation-target="fullscreen"
    class="cooking-mode-hidden cooking-mode"
  >
    <div class="cooking-mode-wrapper">
      <div class="cooking-mode-steps scroller">
        <% @recipe.steps.each_with_index do |step| %>
          <section>
            <%= step.number %>.
            <%= step.step %>
          </section>
        <% end %>
      </div>

      <div class="cooking-mode-ingredients">
        <ul>
          <% ingredients.each do |ingredient| %>
            <li class="recipe-ingredients">

              <%= ingredient[:amount] %>

              <%= ingredient[:unit].capitalize == "G" ? "Grams" : ingredient[:unit].capitalize %>

              <%= ingredient[:name].capitalize %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
