<div class="cooking-mode-wrapper cooking-mode">
  <div class="cooking-mode-steps scroller">
    <% @recipe.steps.each do |step| %>
      <section>
        <div>
          <p class="text-center"><span class="ingredient ">Step
              <%= step.number %>
            </span></p>

          <p><%= step.step %></p>
        </div>
      </section>
    <% end %>
  </div>

  <div class="cooking-mode-ingredients">
    <ul>
      <% ingredients.each do |ingredient| %>
        <li class="recipe-ingredients">

          <span class="ingredient"><%= ingredient[:amount] %>

            <%= ingredient[:unit].capitalize == "G" ? "Grams" : ingredient[:unit].capitalize %></span>

          <%= ingredient[:name].capitalize %>
        </li>
      <% end %>
    </ul>
  </div>
  <%= link_to "#{image_tag("icons/exit.svg")}".html_safe,
  recipe_path(@recipe.id, measurement:, factor:),
  class: "exit-button" %>
</div>
