<h1>Mise en place</h1>

<%= form_with url: recipes_path, method: :get, class: "d-flex" do |form| %>

  <%= text_field_tag :query,
    params[:query],
    id: "search-bar",
    placeholder: "Find a recipe"
  %>
  <%= button_tag "search", type: "submit", class: "searchbutton" do %>
    <i class="fa-solid fa-magnifying-glass"></i>
  <% end %>
<% end %>

<% if params[:vegan] == 'true' %>
  <%= link_to "Vegan", recipes_path(:vegan => false), class: "active" %>
<% else %>
  <%= link_to "Vegan", recipes_path(:vegan => true), class: "inactive" %>
<% end %>

<% if params[:veggie] == 'true' %>
  <%= link_to "Vegeterian", recipes_path(:veggie => false), class: "active" %>
<% else %>
  <%= link_to "Vegeterian", recipes_path(:veggie => true), class: "inactive" %>
<% end %>

<% if params[:meat] == 'true' %>
  <%= link_to "Meat", recipes_path(:meat => false), class: "active" %>
<% else %>
  <%= link_to "Meat", recipes_path(:meat => true), class: "inactive" %>
<% end %>


<% @recipes.each do |recipe| %>
  <div class="card">
    <%= image_tag(recipe.image) %>
    <%#= label_tag 'label' %>
    <%= link_to recipe.title, recipe_path(recipe), class: "card-title" %>
  </div>
<% end %>
