
<div class="form-box">
<h1>Create your own Recipe</h1>
  <%= simple_form_for @recipe do |f| %>
    <%= f.input :title %>
    <%= f.input :servings %>
    <%= f.input :readyInMinutes,
            label: "Time to cook recipe (in minutes)" %>
    <%= f.input :photo, as: :file, label: "Upload picture" %>
    <h6>Choose a category</h6>
    <div class="radio-btns-container">
      <%= f.collection_radio_buttons :category,
                                [
                                  [:vegan, "Vegan"],
                                  [:vegetarian, "Vegetarian"],
                                  [:meat, "Meat"]
                                ],
                                :first,
                                :last %>
    </div>
    <div class="form-actions">
      <%= f.button :submit, class: "my-button-form" %>
    </div>
  <% end %>
</div>
