<% content_for :meta_title,
"#{@recipe.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.summary %>
<% content_for :meta_image, @recipe.image %>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Edit", edit_recipe_path(@recipe) %>
<% end %>
<div class="show-wrapper">
  <div class="favorite-back-button">
    <%= link_to "#{image_tag("icons/go_back.svg")}".html_safe,
    recipes_path,
    class: "show-back-button" %>
    <%= render "favourites/favourite", recipe: @recipe %>
  </div>

  <div class="show-header">
    <% if @recipe.image %>
      <%= image_tag @recipe.image, class: "recipe-img" %>
    <% end %>
  </div>

  <div class="show-main section">
    <h1 class="show-title"><%= @recipe.title %></h1>
    <div
      data-controller="ingredients"
      data-ingredients-recipe-id-value="<%= @recipe.id %>"
    >
      <div data-ingredients-target="ingredientsList">
        <%= render "ingredients",
        ingredients: ingredients,
        measurement: measurement,
        factor: @factor %>
      </div>
    </div>

    <h4>Steps</h4>

    <div class="show-steps">
      <ul>
        <% @recipe.steps.each_with_index do |step| %>
          <li><span class="step"><%= step.number %>.</span>
            <%= step.step %></li>
        <% end %>
      </ul>
    </div>
    <% if user_signed_in? && current_user == @recipe.user %>
      <%= link_to "Add steps", new_recipe_step_path(@recipe) %>
    <% end %>
    <% if user_signed_in? && current_user == @recipe.user %>
      <%= link_to "Destroy Recipe",
        recipe_path(@recipe),
        data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    <% end %>
  </div>
</div>
