<% content_for :meta_title,
"#{@recipe.title} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @recipe.summary %>
<% content_for :meta_image, @recipe.image %>

<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Edit", edit_recipe_path(@recipe) %>
<% end %>

<div class="show-wrapper">
  <div class="favorite-back-button">
    <%= link_to "#{image_tag("icons/go_back.svg")}".html_safe,
    recipes_path,
    class: "show-back-button" %>
    <%= render "favourites/favourite", recipe: @recipe %>
  </div>

  <div class="show-header">
    <% if @recipe.photo.attached? %>
      <%= cl_image_tag @recipe.photo.key, class: "recipe-img" %>
    <% else %>
      <div class="recipe-img" style="background-image:url('no-image.jpeg');"></div>
    <% end %>
  </div>
  <div class="show-main section">
    <h1 class="show-title"><%= @recipe.title %></h1>

    <div
      data-controller="ingredients"
      data-ingredients-recipe-id-value="<%= @recipe.id %>"
    >
      <div data-ingredients-target="ingredientsList">
        <%= render "ingredients",
        ingredients: ingredients,
        measurement: measurement,
        factor: factor %>
      </div>
    </div>

    <div class="show-main-steps">
      <div class="links-container">
        <h4>Steps</h4>

        <% if user_signed_in? && current_user == @recipe.user %>
          <%= link_to "+ / -", new_recipe_step_path(@recipe), class: "my-links my-button" %>
        <% end %>
      </div>

      <div class="show-steps">
        <% if user_signed_in? && current_user == @recipe.user && @recipe.steps.present? == false %>
          <div class="padding-left"><p>
              No steps added yet.
              <br>
              Click the + / - button</p></div>
        <% end %>

        <ul>
          <% @recipe.steps.each_with_index do |step| %>
            <li>
              <span class="step"><%= step.number %>.</span>
              <%= step.step %>
            </li>
          <% end %>
        </ul>
      </div>

      <h4>Reviews</h4>
      <% if user_signed_in? && current_user != @recipe.user %>

        <div data-controller="insert-in-list">
          <div>
            <ul data-insert-in-list-target="items">
              <% if @recipe.reviews.blank? %>
                <p data-insert-in-list-target="disclaimer">
                  Be the first to leave a review.
                </p>
              <% else %>
                <% @recipe.reviews.each do |review| %>
                  <%= render "recipes/review", review: review %>
                <% end %>
              <% end %>
            </ul>
          </div>
          <div class="card" id="container-add-review" data-controller="filter">
            <h6>
              Add your review here.
            </h6>
            <button
              class="review-plus-sign"
              data-action="click->filter#expander"
              data-filter-target="button"
            >
              +
            </button>
            <div class="collapse" data-filter-target="collapser">
              <%= render "reviews/form", recipe: @recipe, review: Review.new %>
            </div>
          </div>
        </div>
      <% end %>
      <% if user_signed_in? && current_user == @recipe.user %>
        <div class="delete-button-container">
          <%= link_to "Delete recipe",
          recipe_path(@recipe),
          class: "my-links my-button",
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          } %>
        </div>
      <% end %>
    </div>
  </div>
</div>
