<% if user_signed_in? && current_user.admin? %>
  <%= link_to "Edit", edit_recipe_path(@recipe) %>
<% end %>
<div class="show-wrapper">
  <div class="favorite-back-button">
    <%= link_to "#{image_tag("icons/go_back.svg")}".html_safe,
    recipes_path,
    class: "show-back-button" %>

    <div data-controller="toggle-favourite">
      <div data-toggle-favourite-target="items">

        <% if @favourite.id %>
          <%= link_to favourite_path(@favourite), data: { turbo_method: :delete  }, class: "show-favorite-button" do %>
            <i class="fa-solid fa-heart"></i>
          <% end %>
        <% else %>
          <%= link_to recipe_favourites_path(@recipe), data: { turbo_method: :post  }, class: "show-favorite-button" do %>
            <i class="fa-regular fa-heart"></i>
          <% end %>
        <% end %>

      </div>
    </div>

  </div>
  <div class="show-header">
    <%= image_tag @recipe.image, class: "recipe-img" %>
  </div>

  <div class="show-main section">
    <h1 class="show-title"><%= @recipe.title %></h1>
    <div
      data-controller="ingredients"
      data-ingredients-recipe-id-value="<%= @recipe.id %>"
    >
      <div data-ingredients-target="ingredientsList">
        <%= render "ingredients",
        ingredients: ingredients,
        measurement: measurement,
        factor: @factor %>
      </div>
    </div>

    <h4>Steps</h4>
    <div class="show-steps">
      <ul>
        <% @recipe.steps.each_with_index do |step| %>
          <li><span class="step"><%= step.number %>.</span>
            <%= step.step %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>
