<div class="container">
  <h1>Welcome,
    <%= current_user.username.capitalize %>!
  </h1>
  <h5>Find all your saved favorites here
  </h5>
  <% if @recipes.empty? %>
    <p class="text-center my-button favorites-button"><%= link_to "Add recipe to favorites", recipes_path %></p>
  <% else %>

    <% @recipes.each do |recipe| %>

      <div class="card" data-controller="filter">

        <%= link_to recipe_path(recipe) do %>
          <div
            class="image-container"
            style="background-image:url('<%= cl_image_path recipe.photo.key %>')"
          ></div>
        <% end %>
        <%= render "favourite", recipe: recipe %>
        <div class="label">
          <%= recipe.category %>
        </div>
        <div class="link-plus-container">
          <%= link_to recipe.title, recipe_path(recipe), class: "card-title" %>
          <button
            class="plus-sign"
            data-action="click->filter#expander"
            data-filter-target="button"
          >
            +
          </button>
        </div>
        <div class="collapse" data-filter-target="collapser">
          <ul>
            <p><u>Ingredients:</u></p>
            <% recipe.ingredients.each do |ingredient| %>
              <li class="recipe-ingredients">
                <%= ingredient[:name].capitalize %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
