
<div class="navbar_bottom">
  <%= link_to root_path do %>
    <% if params[:controller] == 'recipes' %>
      <%= image_tag "icons/home_oranje.svg" %>
    <% else %>
      <%= image_tag "icons/home_grey.svg" %>
    <% end %>
  <% end %>

  <%= link_to favourites_path do %>
    <% if params[:controller] == 'favourites' %>
      <%= image_tag "icons/heart_oranje.svg" %>
    <% else %>
      <%= image_tag "icons/heart_grey.svg" %>
    <% end %>
  <% end %>

  <%= link_to dashboard_path do %>
    <% if devise_controller? %>
      <%= image_tag "icons/user_oranje.svg" %>
    <% else %>
      <%= image_tag "icons/user_grey.svg" %>
    <% end %>
  <% end %>
</div>
