<h1>Hello,
  <%= current_user.username.capitalize.titleize %></h1>

<div class="dashboard container">
  <%= link_to "Manage your account", edit_user_registration_path %>
  <%= link_to "Upload your own recipe", new_recipe_path %>
</div>

<h2>My Recipes</h2>

<% @recipes.each do |recipe| %>
  <div class="card" data-controller="filter">
    <%= link_to recipe_path(recipe) do %>
      <% if recipe.photo.attached? %>
        <div
          class="image-container"
          style="background-image:url('<%= cl_image_path recipe.photo.key %>')"
        ></div>
      <% else %>
        <div class="image-container" style="background-image:url('no-image.jpeg');"></div>
      <% end %>
    <% end %>
    <%= render "favourites/favourite", recipe: recipe %>
    <div class="label">
      <%= recipe.category %>
    </div>
    <div class="link-plus-container">
      <%= link_to recipe.title, recipe_path(recipe), class: "card-title" %>
      <button
        class="plus-sign"
        data-action="click->filter#expander"
        data-filter-target="button"
      >
        +
      </button>
    </div>
    <div class="collapse" data-filter-target="collapser">
      <ul>
        <% recipe.ingredients.each do |ingredient| %>
          <li class="recipe-ingredients">
            <%= ingredient[:name].capitalize %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
