

<div class="form-box">
  <h2>Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
    <div class="form-inputs">
      <div>
        <%= f.input_field :email,
                    # label: 'Your email please', label_html: { class: 'float'},
                    required: true,
                    autofocus: false,
                    input_html: { autocomplete: "email", class: 'my_class'} %>
        <%= f.label :email,
                    class: 'float' %>
      </div>
      <div>
        <%= f.input_field :password,
                    required: true,
                    input_html: { autocomplete: "current-password", class: 'my_class', placeholder: 'Please type in your password' } %>
        <%= f.label :password,
                    class: 'float' %>
      </div>

      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "Log in", class: "my-button"%>
    </div>
  <% end %>

  <div class="shared-links">
    <%= render "devise/shared/links" %>
  </div>

</div>
