<div class="form-box">
  <%= link_to "Done", recipe_path(@recipe), class: "my-links done-position" %>
  <h1>Add instrucitons to your recipe</h1>
  <%= simple_form_for [@recipe, @step] do |f| %>
    <%= f.input :number %>
    <%= f.input :step, label: 'Description' %>
    <div class="form-actions">
      <%= f.button :submit, "Add step", class: "my-button-form" %>
    </div>
  <% end %>

  <div class="show-steps">
    <ul>
      <% @recipe.steps.each do |step| %>
        <li>
          <%= link_to(step_path(step), data: {turbo_method: :delete, turbolinks_scroll: false}, class: "no-style") do %>
            <i class="fa-regular fa-circle-xmark red"></i>
          <% end %>
          <span class="step"><%= step.number %>.</span>
          <%= step.step %>
        </li>
      <% end %>
    </ul>
  </div>

</div>
