<h1>Add instrucitons to your recipe</h1>
<div>
  <%= simple_form_for [@recipe, @step] do |f| %>
    <%= f.input :number %>
    <%= f.input :step %>
    <%= f.button :submit, "Add step" %>
  <% end %>
  <%= link_to "Done", recipe_path(@recipe) %>
</div>

<div class="show-steps">
  <ul>
    <% @recipe.steps.each_with_index do |step| %>
      <li><span class="step"><%= step.number %>.</span>
        <%= link_to "x",
            step_path(step),
            class: "my-links my-button",
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <%= step.step %>
      </li>
    <% end %>
  </ul>
</div>
